{% extends 'base.html.twig' %}

{% block title %}Ponterest{% endblock %}

{% block body %}
    <h1>{{ pluralize(pins| length, 'Pin') }}</h1>

    {% for pin in pins %}
        <article>
            <h1><a href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h1>
            <p>{{ pin.description|u.truncate(10, '...', false) }}</p>
            <p>Publié il y a {{ pin.createdAt|ago }}</p>
        </article>
    
    {% else %}
        <p>Désolé, pas de Pins disponible pour le moment !</p>
    {% endfor %}

{% endblock %}
